<div>
    <% if (typeof frases_a_escribir !== 'undefined' && Array.isArray(frases_a_escribir)) { %>
        <% for(let i = 0; i < frases_a_escribir.length; i++) { %>
            <p><%= frases_a_escribir[i] %></p>
        <% } %>
    <% } %>
</div>

<%- include('footer.ejs') %>
